/* xs */
@media screen and (min-width: 480px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}

	.avatar-image {
		height: 300px;
		width: 300px;
	}

	.about {
		padding-right: 10%;
	}
}

/* s */
@media screen and (min-width: 576px) {
	.avatar-image {
		height: 400px;
		width: 400px;
	}

	body {
		margin-left: 15%;
		margin-right: 15%;
	}

	.about {
		padding-right: 0%;
	}
}

/* m */
@media screen and (min-width: 768px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}

	.header-text {
		font-size: 55px;
		line-height: 55px;
		letter-spacing: 2.92px;
	}

	.about {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 1.27px;
	}

	.nav-button {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 1.95px;
	}
}

/* l */
@media screen and (min-width: 992px) {
	body {
		margin-left: 25%;
		margin-right: 25%;
	}
}

/* xl */
@media screen and (min-width: 1200px) {
	.about {
		padding-right: 20%;
	}
}