/* xs */
@media screen and (min-width: 480px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
		background-color: green;
	}

	.avatar-image {
		height: 250px;
		width: 250px;
	}

	.about {
		padding-right: 10%;
	}

	.nav-list-item {		
	margin-right: 24px;
	}
}

/* iPhoneSE in landscape*/
@media screen and (min-width: 480px) and (orientation: landscape) {
	body {
		background-color: red;
	}
}
 
/* s - iPhoneX in landscape */
@media screen and (min-width: 576px) {
	body {
		margin-left: 15%;
		margin-right: 15%;
		background-color: purple;
	}

	.image-div {
		margin-top: 20%;
		margin-bottom: -100px;
	}

	.avatar-image {
		height: 300px;
		width: 300px;
		height: 300px;
	}

	.about {
		padding-right: 0%;
	}
}

@media screen and (min-width: 576px) and (orientation: landscape) {
	
}

/* m - iPad */
@media screen and (min-width: 768px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
		background-color: red;
	}

	h1 {
		font-size: 55px;
		line-height: 55px;
		letter-spacing: 2.92px;
	}

	.image-div {
		margin-bottom: -150px;
	}

	.avatar-image {
		height: 400px;
		width: 400px;
	}

	.about {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 1.27px;
	}

	.nav-button {
		font-size: 24px;
		line-height: 28px;
		width: 150px;
		letter-spacing: 1.95px;
	}

	.nav-button:hover {
		color: #FABB02;
	}

	.footer {
		height: 43px;
	}
}

/* l */
@media screen and (min-width: 992px) {
	body {
		margin-left: 25%;
		margin-right: 25%;
		background-color: blue;
	}

	.image-div {
		margin-top: 15%;
	}
}

/* xl - Desktop */
@media screen and (min-width: 1200px) {

	body {
		background-color: #272727;
	}

	.image-div {
		margin-top: 15%;
		margin-bottom: -170px;
	}

	.about {
		padding-right: 20%;
	}

	.footer {
		height: 80px;
	}
}