body {
	background-color: #272727;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	color: #2BA84A;
	font-family: 'Poppins-Bold', Helvetica, sans-serif;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 1.75px;
}

h4 {
	color: #2BA84A;
	font-family: 'Poppins-Bold', Helvetica, sans-serif;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 2.93px;
}

h5 {
	color: #FDF39B;
	font-family: 'Roboto-Bold', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 2.19px;
}

h6 {
	color: #EEEBD0;
	font-family: 'Nunito-Bold', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.85px;
}

.body_text {
	color: #EEEBD0;
	font-family: 'Nunito-Light', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.85px;
	list-style: none;
	padding-left: 0px;
	margin-bottom: 40px;
}

.job_description_text {
	color: #EEEBD0;
	font-family: 'Nunito-Light', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.85px;
	margin-bottom: 40px;
}

.image-div {
	text-align: center;
	margin-top: 20%;
	margin-bottom: -75px;
}

.avatar-image {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.header {
	width: 100%;
	text-align: left;
}

.about {
	color: #EEEBD0;
	text-align: left;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.85px;
	margin-top: -10px;
	margin-bottom: 100px;
	padding-right: 16px;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 35px;
	width: 100%;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #272727;

}

.nav {
	background-color: #272727;
}

.nav-list {
	margin-top: 0px;
}

.nav-list-item {
	display: inline-block;
	margin-right: 16px;
}

.nav-button {
	background-color: transparent;
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #FED766;

	text-transform: uppercase;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.95px;
	text-decoration: none;
}

.nav-button:hover {
	color: #FABB02;
}

.nav-button:focus {
	color: #FABB02;
}

.resume {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	margin-top: 32px;
	margin-left: 5%;
	margin-right: 5%;
}

#experience_awards {
	margin-bottom: 50px;
}

#contact_skills {
	height: fit-content;
}

#work {
	text-align: center;
	margin-top: 180px;
}

.project_description {
	color: #EEEBD0;
	text-align: center;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 19px;
	letter-spacing: 0.85px;
	margin-top: 16px;
	margin-bottom: 250px;
}

#image_gallery {
	height: 100%;
	padding-top: 44px;
}

.gallery_image {
	width: 90%;
	max-width: 1000px;
	margin: 0px auto;
}

.prototype_link {
	font-size: 14px;
	color: #FED766;
	line-height: 37px;
	letter-spacing: 1.55px;
	text-decoration: none;

	border-bottom: solid 1px #FED766;
	display: inline;
	padding-bottom: 0px;
	line-height: 36px;
}

.prototype_link:hover {
	color: #FABB02;
}

.prototype_link:focus {
	color: #FABB02;
}

.resume_link {
	color: #FED766;
	font-family: 'Nunito-Light', Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 0.85px;
	text-decoration: none;

	border-bottom: solid 1px #FED766;
	display: inline;
	line-height: 26px;
}

.resume_link:hover {
	color: #FABB02;
}

.resume_link:focus {
	color: #FABB02;
}

}

