body {
	background-color: #272727;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	color: #2BA84A;
	font-family: 'Poppins-Bold', Helvetica, sans-serif;
	font-size: 33px;
	line-height: 40px;
	letter-spacing: 1.75px;
}

.image-div {
	text-align: center;
	margin-top: 20%;
	margin-bottom: -75px;
}

.avatar-image {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.header {
	width: 100%;
	text-align: left;
}

.about {
	color: #EEEBD0;
	text-align: left;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.85px;
	margin-top: -10px;
	margin-bottom: 100px;
	padding-right: 16px;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 35px;
	width: 100%;
	text-align: center;
}

.nav {
	width: 100%;
	background-color: #272727;
}

.nav-list {
	margin-top: 0px;
}

.nav-list-item {
	display: inline-block;
	margin-right: 16px;
}

.nav-button {
	background-color: transparent;
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #FED766;

	text-transform: uppercase;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.95px;
	text-decoration: none;
}

.modal-button {
	background-color: transparent;
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #FED766;

	text-transform: uppercase;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1.95px;
	text-decoration: none;
}

.nav-button:focus {
	color: #FABB02;
}

.modal-button:focus {
	color: #FABB02;
}

.social-list {
	text-align: center;
	margin-right: 50px;
}

.social-list-item {
	display: inline-block;
}

.social-button {
	background-color: transparent;
	height: 30px;
	width: 40px;
	padding: 0px 8px;
	border: none;
}

.resume {
	color: #EEEBD0;
}

.modal-drawer {
	position: fixed;
	max-height: 70px;
	bottom: 20px;
	left: 0px;
	width: 100%;
	padding: 2em;
	background: #272727;
	display: none;
}

.contact-text {
	text-align: center;
	padding-right: 50px;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.contact-link:link {
	color: yellow;
	text-decoration: none;
}

/* visited link */
.contact-link:visited {
	color: green;
}

/* mouse over link */
.contact-link:hover {
	color: hotpink;
}

/* selected link */
.contact-link:active {
	color: blue;
}

